$default-font: "OpenSans", sans-serif
$MR: "Montserrat-Regular", sans-serif
$ML: "Montserrat-Light", sans-serif
$MB: "Montserrat-Bold", sans-serif
$accent: #f3b200
$darc: #343740
$grey: #9e9da0
$blue: #011144



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
