@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)

//Medium: ≥768px
+media-breakpoint-down(md)
	.slogan .box p
		font-size: 14px
	.scrol
		height: 100px
	.scrol
		flex-wrap: wrap	
	.top_nav
		&-logo
			order: 1
		&-phone
			order: 3
			width: 50%
			text-align: center
			top: -20px
			&::after
				display: none
		&-price
			order: 3
			width: 50%
			text-align: center
			top: -20px
		.hamburger
			order: 2
//Small: ≥576px
+media-breakpoint-down(sm)
	.top_nav-logo 
		font-size: 30px
	.slogan .center-slogan h1
		font-size: 40px
		span 
			font-size: 40px
	a.box-button
		display: none
	.slogan
		margin-top: 18%
	.box_wb
		margin: 15px auto

//Extra small: >0
+media-breakpoint-down(xs)
	.top_nav
		&-logo
			order: 1
		&-phone
			order: 2
		&-price
			order: 2
		.hamburger
			order: 1
	.scrol .top_nav-logo
		font-size: 18px
	.scrol .top_nav-price a, .scrol .top_nav-phone a
		font-size: 15px
		line-height: 15px
	.slogan .center-slogan h1
		font-size: 30px
		span 
			font-size: 30px
	.slogan
		margin-top: 38%
	.slogan .center-slogan h2
		font-size: 16px
		line-height: 30px
	.top_nav-logo 
		font-size: 20px
	footer ul li
		display: inline-block

/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
