@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)
	.top_nav-menu
		margin-right: 0
//Large: ≥992px
+media-breakpoint-down(lg)
	.top_nav-menu ul
		padding-left: 0
//Medium: ≥768px
+media-breakpoint-down(md)
	.center
		&-slogan
			h1
				font-size: 30px
	.s-works .button-works button 
		margin-left: 10px
		padding: 5px 5px 0
	footer ul 
		li 
			overflow: hidden
			a
			padding-right: 50px
//Small: ≥576px
+media-breakpoint-down(sm)
	.top_nav-menu ul 
		li
			flex-wrap: wrap
			a
				padding-left: 10px
				padding-right: 10px
	.s-welcome
		h2
			font-size: 25px
		p 
			font-size: 14px
	section 
		margin-top: 50px
	.team
		margin: auto
		margin-bottom: $gutter
	.servise-box
		max-width: 360px
		margin: auto
		margin-bottom: $gutter
	.mix
		margin: 0 auto $gutter
		img
			margin: 0 auto
	.s-plans-box span
		max-width: 70%
		margin: 0 auto
	.s-plans-box ul
		margin-top: 2%
	.s-plans-box
		border: 1px solid rgba($grey, 0.1)
		&:hover
			border: 1px solid rgba($accent, 0.1)
	footer ul 
		li
			margin-left: 0
			margin-right: 0
			padding: 0
			a
				padding-right: 10px

//Extra small: >0
+media-breakpoint-down(xs)
	footer ul li
		display: inline-block
	#toTop
		opacity: 0	
/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
