.modal-overlay
    overflow: auto
.modal 
    display: none
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    margin: 0 auto
    background-color: #fff
    width: 738px
    max-width: 75rem
    min-height: 20rem
    padding: 50px 30px
    border-radius: 50px
    opacity: 0
    visibility: hidden
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    backface-visibility: hidden
    transform: scale(1.2)
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1)
    z-index: 9999
    background-image: url('/images/dest/modal.webp')
    background-size: cover
    background-position: center
    .close-modal 
        position: absolute
        z-index: 9999999
        cursor: pointer
        top: 5px
        right: 15px
        opacity: 0
        backface-visibility: hidden
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1)
        transition-delay: 0.3s
        display: block
        font-size: 25px
        padding: 15px
        cursor: pointer
    .modal-content 
        opacity: 0
        backface-visibility: hidden
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1)
        transition-delay: 0.3s
        width: 500px
    .modal-title
        text-align: center
        font-weight: 400
        h3 
            font-size: 30px
            display: block
            font-weight: 400 
        h4 
            font-size: 16px
            display: block
            font-weight: 400
    &-form
        position: relative
        span 
            font-size: 25px
            text-align: center
        .form-control
            margin-top: 5px
            input[type=text], .form-control select, .form-control textarea
                border-radius: 40px
            #modal-form__phone
                padding-left: 50px
        &__button
            position: relative
            margin-top: 20px
            display: flex
            justify-content: center
            &:before
                content: ''
                position: absolute
                top: 0
                right: -10px
                width: 143px
                height: 52px
                z-index: 4
                background-image: url('/images/dest/Plant.png')
                background-size: cover
                background-position: center
            .button 
                width: 100%
                &:after 
                    z-index: -1
        .chose-mask
            border-radius: 40px 0 0 40px      
    &.active 
        visibility: visible
        opacity: 1
        transform: scale(1)
        display: flex
        .modal-content 
            opacity: 1
        .close-modal 
            transform: translateY(10px)
            opacity: 1
.modal-cart
    &:before
        content: ''
        position: absolute
        top: 100px
        left: -88px
        width: 263px
        height: 386px
        z-index: 0
        background-image: url('/images/dest/overlay.png')
        background-size: cover
        background-position: center
        transform: scale(0.8)
.modal_senks
    font-size: 30px
    text-align: center
    display: block
    width: 524px
    position: relative
    overflow: hidden
    display: none
    &.active
        display: flex
    .check
        margin: 0 auto
        width: 91px
        height: 91px
        background-image: linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%)
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        span
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            width: 85px
            height: 85px
            background-color: #fff
            i 
                color: $accent
    .flover
        position: absolute
        bottom: 0
        right: 0
/**
  * Mobile styling
  */
@media only screen and (max-width: 39.9375em) 
    .modal 
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 0
        transform: scale(1.1)
        padding: 0 !important
        &-content
            width: 100% !important
            padding: 5px !important
        &:before
            display: none
    .close-modal 
        right: 0px !important
        top: 0px !important

@media only screen and (min-width: 40em) 
    .modal-overlay 
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 9998
        background-color: rgba(0, 0, 0, 0.6)
        opacity: 0
        visibility: hidden
        backface-visibility: hidden
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1)
    &.active 
        opacity: 1
        visibility: visible

@media (max-height: 450px)
    .modal-overlay 
        justify-content: flex-start


